main {
  padding: 100px;
  padding-top: 200px;

  h1 {
    font-size: 110px;
    font-weight: 100;
    margin-bottom: 120px;
  }

  @media (max-width: 1200px) {
    padding: 80px 40px;
    h1 {
      font-size: 80px;
    }
  }

  @media (max-width: 768px) {
    padding: 60px 20px;
    h1 {
      font-size: 50px;
      margin-bottom: 80px;
    }
  }

  @media (max-width: 480px) {
    padding: 40px 15px;
    h1 {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
}

.greyField {
  padding: 50px;
  background-color: rgb(55, 56, 44);
  border-radius: 30px;
  display: flex;
  max-width: 1300px;
  justify-content: space-between;

  .textBlock {
    max-width: 700px;
    width: 100%;
    min-width: 0;
    p {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }

  .directorInfo {
    min-width: 280px;
    width: 280px;
    margin-left: 20px;
    margin-top: -190px;
    text-align: center;

    .avatar {
      margin-left: auto;
      margin-bottom: 30px;
      display: block;
      width: 100%;
      max-width: 300px;
    }

    p {
      font-size: 15px;
      margin-bottom: 10px;
      color: rgb(131, 131, 131);
    }

    b {
      font-size: 18px;
      margin-bottom: 10px;
    }

    a {
      margin: 5px;
      img {
        width: 35px;
      }
    }
  }

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .textBlock {
      max-width: 100%;
      p {
        font-size: 22px;
      }
    }

    .directorInfo {
      margin: 40px 0 0;
      max-width: 100%;
      margin-top: 40px;
    }
  }

  @media (max-width: 600px) {
    padding: 30px;
    .textBlock p {
      font-size: 18px;
    }
    .directorInfo p {
      font-size: 14px;
    }
  }
}

.principes {
  margin-top: 150px;

  h2 {
    font-size: 40px;
    margin-bottom: 80px;
  }

  .panels {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .panel {
      position: relative;
      font-size: 20px;
      width: 350px;
      background-color: rgb(32, 32, 30);
      border-radius: 23px;
      padding: 20px;
      margin: 20px;
      transition: 0.4s ease;
      cursor: pointer;

      img {
        position: absolute;
        top: -15px;
        left: -15px;
        width: 40px;
        opacity: 0.5;
      }

      &:hover {
        background-color: rgb(50, 50, 44);
      }
    }
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 32px;
      margin-bottom: 50px;
    }
    .panel {
      width: 100%;
      max-width: 400px;
      font-size: 18px;
    }
  }

  @media (max-width: 480px) {
    h2 {
      font-size: 26px;
    }
    .panel {
      font-size: 16px;
      margin: 15px 0;
    }
  }
}

.connector {
  margin-top: 150px;

  div {
    display: flex;
    flex-direction: row;
    position: relative;

    p {
      margin-right: 20px;
      margin-top: 300px;
      font-size: 18px;
      max-width: 300px;
    }

    img {
      position: absolute;
      opacity: 0.3;
      max-width: 300px;
    }
  }

  h2 {
    font-size: 30px;
    margin-bottom: 60px;
  }

  @media (max-width: 992px) {
    div {
      flex-direction: column;
      // align-items: center;
      p {
        margin: 20px 0;
        max-width: 100%;
        text-align: center;
      }
      img {
        position: relative;
        margin: auto;
        opacity: 0.4;
      }
    }
    h2 {
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    margin-top: 100px;
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
  }
}

.channel_block{
    margin-top: 180px;
    h2 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    p {
        font-size: 20px;
    }
    a {
        margin-top: 10px;
        font-size: 25px;
        color: #4ecaff;
        transition: color 0.2s ease;

        &:hover {
            color: #5cf1ff;
        }
    }

    @media (max-width: 600px) {
        margin-top: 100px;
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 16px;
        }
        a {
          font-size: 20px;
        }
      }
  }
