main {
    padding: 100px;
    padding-top: 50px;

    h1 {
        font-size: 110px;
        font-weight: 100;
        margin-bottom: 120px;
    }
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
}

.greyField {
    padding: 50px;
    background-color: rgb(55, 56, 44);
    border-radius: 30px;
    display: flex;
    max-width: 1300px;
    justify-content: space-between;

    .textBlock{
        max-width: 700px;
        p {
            font-size: 25px;
            margin-bottom: 10px;
        }
    }

    .directorInfo{
        max-width: 280px;
        margin-left: 20px;
        margin-top: -190px;
        .avatar {
            margin-left: -20px;
            display: block;
            width: 300px;
        }
        p {
            font-size: 15px;
            margin-bottom: 10px;
            color: rgb(131, 131, 131);
        }
        b {
            font-size: 18px;
            margin-bottom: 10px;
        }
        a {
            margin: 5px;
            img {
                width: 35px;
            }
        }
    }
}

.principes {
    margin-top: 150px;
    h2 {
        font-size: 40px;
        margin-bottom: 80px;
    }
    .panels {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .panel {
            position: relative;
            font-size: 20px;
            width: 350px;
            background-color: rgb(32, 32, 30);
            border-radius: 23px;
            padding: 20px;
            margin: 20px;
            transition: 0.4s ease;
            cursor: pointer;
            img {
                position: absolute;
                top: -15px;
                left: -15px;
                width: 40px;
                opacity: 0.5;
            }
        }
        .panel:hover{
            background-color: rgb(50, 50, 44);
        }
    }
}

.connector {
    margin-top: 150px;
    div {
        display: flex;
        position: relative;
        p {
            margin-right: 20px;
            margin-top: 300px;
            font-size: 18px;
            max-width: 300px;
        }
        img {
            position: absolute;
            opacity: 0.3;
            max-width: 300px;
        }
    }
    h2 {
        font-size: 30px;
        margin-bottom: 60px;
    }
}