botter {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(64, 64, 64);
    h2 {
        font-size: 15px;
        opacity: 0.5;
        margin-left: 10px;
    }
    a {
        margin: 5px;
        font-size: 25px;
    }
    .contacts {
        div {
            display: flex;
            align-items: center;
        }
    }
}