header {
  background-color: rgb(37, 37, 37);
  display:flex;
  align-items: end;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 330px;

  .wagon{
      z-index: 99;
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 0px;
  }
  .container {
      width: 274px;
      height: 142px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
          
          height: 160px;
      }
      z-index: 100;
      background: repeating-linear-gradient(
          to right,
          black 0,
          black 10px,
          rgb(20, 20, 20) 10px,
          rgb(20, 20, 20) 200px
      );
      border: 2px solid black;
      border-radius: 7px;
      z-index: 1000;
      a {
          opacity: 0.5;
          cursor: pointer;
          transition: opacity 0.3s ease;
          font-size: 30px;
      }
      a:hover {
          opacity: 0.8;
      }
  }

  .logo {
      justify-content: start;
      h1 {
      color: #ba852a;
      opacity: 1;
      font-size: 25px;
      cursor:auto;
      margin-left: -5px;
      &:hover {
          opacity: 1;
      }
      }
  }

  .wheels {
      display: flex;
      position: relative;
      justify-content: space-between;
      margin: 0px 15px;
      div {
          position: relative;
          bottom: 25px;
          width: 50px;
          height: 50px;
          background-color: black;
          border-radius: 50%;  
          z-index: -1;
      }
  }

}

.background {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: #131313;
}
.mountains {
  opacity: 0.65;
}
.mountain {
  position: absolute;
  bottom: 28px;
  left: 0px;
  width: 100vw;
  background: 0 0/contain repeat-x;
  transition: background-position 0.3s ease-in-out;
  animation-name: mountain-move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &1 {
    height: 125px;
    background-image: url("../../public/images/mountains/mountain1.svg");
    background-position-y: 40px;
    animation-duration: 5s;
  }

  &2 {
    height: 153px;
    background-image: url("../../public/images/mountains/mountain2.svg");
    background-position-y: 70px;
    animation-duration: 9s;
  }

  &3 {
    height: 245px;
    background-image: url("../../public/images/mountains/mountain3.svg");
    background-position-y: 100px;
    animation-duration: 18s;
  }

  &4 {
    height: 292px;
    background-image: url("../../public/images/mountains/mountain4.svg");
    background-position-y: 130px;
    animation-duration: 25s;
  }

  &5 {
    height: 356px;
    background-image: url("../../public/images/mountains/mountain5.svg");
    background-position-y: 160px;
    animation-duration: 30s;
  }
}

@keyframes mountain-move {
  to {
    background-position-x: -690px;
  }
}