header {
    background-color: rgb(7, 7, 7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    //border-bottom: 1px solid rgb(77, 77, 77);
    .logo{
        display: flex;
        align-items: center;
    }
    h1 {
        color: rgb(208, 163, 66);
        font-size: 50px;
        margin-left: -18px;
    }
    a {
        margin-right: 90px;
        font-size: 30px;
    }
    img {
        margin-left: 40px;
        width: 150px;
       // height: 200px;
    }
}