* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(215, 215, 215);
    font-family: 'Arial', sans-serif;
}

.containerStyle {
    background-color: black;
}

body {
    background-color: rgb(18, 18, 18);
}