name: Deploy React App

on:
  push:
    branches:
      - main  # ветка для деплоя

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 22

    - name: Install dependencies
      run: npm ci

    - name: Build React
      run: npm run build

    - name: Deploy build via SCP
      uses: appleboy/scp-action@v0.1.5
      with:
        host: ${{ secrets.SERVER_IP }}
        username: deployer
        key: ${{ secrets.SERVER_SSH_KEY }}
        port: 22
        source: "build/"
        target: "/var/www/CONTAINER/"

    - name: Reload nginx
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.SERVER_IP }}
        username: deployer
        key: ${{ secrets.SERVER_SSH_KEY }}
        port: 22
        script: sudo systemctl reload nginx
