name: Deploy React to Server

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 22

    - name: Install dependencies
      run: npm ci

    - name: Build React
      run: npm run build

    - name: Deploy to server via SSH
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.SERVER_IP }}
        username: deployer
        key: ${{ secrets.SERVER_SSH_KEY }}
        port: 22
        script: |
          mkdir -p /var/www/CONTAINER
          rm -rf /var/www/CONTAINER/build
          cp -r ./build /var/www/CONTAINER/
